{% extends "layouts/layout.njk" %}

{% block title %}
	 ویرایش محتوا
{% endblock %}

{% block content %}

{% if(doc) %}
<div class="row text-center  ">

	<div class="cell-md-4"></div>
    <div class="cell-md-4">
        <h2 style="font-family:dastkhat"></h2>
        <form method="post" action="{{url('todo/update')}}?_method=PUT" data-role="validator" data-interactive-check="true">
             <input type='hidden' name='_csrf' value='{{_csrf}}'>
             <input type='hidden' name='id' value='{{doc.id}}'>

             <div class="form-group">
                <label>محتوا</label>
                <input type="text" name="formContent" data-role="input" data-validate="required" class="metro-input" value="{{doc.content}}">
                <span class="invalid_feedback">
                    پر کردن الزامی است
                </span>

                <div class="error">
                    {% if flashMessage.formContentError !=null %}
                        {% for error in flashMessage.formContentError %}
                            <div class="message fg-red">{{error}}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="form-group">
                <button class="button primary">ویرایش</button>
            </div>
        </form>
    </div>
    <div class="cell-md-4"></div>


    <div class="cell-md-4"></div>
    <div class="cell-md-4 text-center">
    
        {% if flashMessage.errors !=null %}
            {% for error in flashMessage.errors %}
                <div class="message remark alert">
                    {{error}}
                </div>
            {% endfor %}
        {% endif %}


        {% if flashMessage.error !=null %}
            <div class="message remark warning">
                {{flashMessage.error}}
            </div>
        {% endif %}


        {% if flashMessage.success!=null %}
            <div class="message remark success">
                {{flashMessage.success}}
            </div>
        {% endif %}
    </div>
    <div class="cell-md-4"></div>
	
</div>

{% else %}
<div class="row text-center  ">
    <div class="cell-md-12" style="font-family:dastkhat">
        <h2> این رکورد موجود نیست </h2>
    </div>
</div>
{% endif %}

{% endblock %}


{% block script %}
       {{ super() }}

	 <script>
    $(function () {
        $('.message').click(function (e) {
            $(".message").empty();
            $('.message').hide();
        });
    });
</script>
{% endblock %}