
{% extends "layouts/layout.html" %}

{% block content %}

<div class="container">
	<form method="post" action="/login" >
        <div>نام کاربری</div>
        <div><input type="text" name="txtUser" ></div>

        <div>رمزعبور</div>
        <div><input type="password" name="txtPassword" ></div>

        <div><button type="submit">لاگین</button></div>
    </form>
  
    {% if flash.errors %}
        {% for error in flash.errors %}
        <div>
            {{error.message}}
        </div>
        {% endfor %}
     {% endif %}


      {% if flash.error %}
        <div>
            {{flash.error}}
        </div>
     {% endif %}


     {% if flash.success %}
        <div>
            {{flash.success}}
        </div>
     {% endif %}
</div>

{% endblock %}