
{% extends "layouts/layout.html" %}

{% block content %}

<div class="container">
	<form method="post" action="/login" >
        <div>نام کاربری</div>
        <div><input type="text" name="txtUser" ></div>

        <div>رمزعبور</div>
        <div><input type="password" name="txtPassword" ></div>

        <div><button type="submit">لاگین</button></div>
    </form>

    {% if flashMessage.validationErrors !=null %}
        {% for error in flashMessage.validationErrors %}
        <div>
            {{error.msg}}
        </div>
        {% endfor %}
     {% endif %}
  
    {% if flashMessage.errors !=null %}
        {% for error in flashMessage.errors %}
        <div>
            {{error}}
        </div>
        {% endfor %}
     {% endif %}


      {% if flashMessage.error !=null %}
        <div>
            {{flashMessage.error}}
        </div>
     {% endif %}


     {% if flashMessage.success!=null %}
        <div>
            {{flashMessage.success}}
        </div>
     {% endif %}
</div>

{% endblock %}