<html>
    <head>
        <title> single page app</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="metro4:init" content="false">

		 <link href=" {{dist('css/app.css')}}" rel="stylesheet">
    </head>

    <body>

        <div id="spa">
        </div>
        
		<script src="{{dist('js/app.js')}}"></script>
    </body>
</html>