<!doctype html>
<html lang="fa">
    <head>
        <title>
                {% block title %}{% endblock %}
        </title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="metro4:init" content="false">


		 <link href=" {{css('metro-all.min.css')}}" rel="stylesheet">
         <link href=" {{css('grid.css')}}" rel="stylesheet">
         <link href=" {{css('style.css')}}" rel="stylesheet">

         
    </head>


    <body>

        <div id="app">

             <div class="container">
               
                {% block content %}{% endblock %}
    
            </div>
        
        </div>

       
        <script src="{{js('metro.min.js')}}"></script>
        <script src="{{js('vue.js')}}"></script>
        <script src="{{js('axios.min.js')}}"></script>


        {% block script %}
        {% endblock %}

       
      

        <script>
            new Vue ({
                    el: "#app",
                    delimiters: ['@{', '}'],
                    data(){
                        return{
                            message: 'hellow world vue',
                        }
                    },
                    created:function(){
                        //console.log(this.message);
                    },
                    mounted: function () {
                        Metro.init();
                    }
                });
        </script>
		 
    </body>
</html>